---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1>I can't beloive this blog is up so quickly.</h1>

<h2>Latest 3 Posts</h2>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
